LAB_TZ=America/Santiago
APPS_PARENT_IFACE=enp2s2
APPS_SUBNET=10.2.3.0/24
APPS_GATEWAY=10.2.3.1
APPS_IP_RANGE=10.2.3.0/28
APPS_AD_IP=10.2.3.5
APPS_DVWA_IP=10.2.3.2
APPS_WEBGOAT_IP=10.2.3.3
APPS_FTP_IP=10.2.3.4
APPS_DNS_FORWARDER=200.1.6.2
AD_DOMAIN_DNS=equipoa.local
AD_DOMAIN_NETBIOS=EQUIPOA.LOCAL
